# Ignored files and folders


venv/*
__pycache__/*
*.pyc
mouse_position.py
mouse_click_tools.py
mouse_gotopos.py
test.py
*test_monster_images
*test_images
*test
.vscode
uninstall.txt
logs
oFlex-Git.lnk
